@{

}
<ul class="nav nav-pills nav-stacked">
    <li><a asp-controller="Admin" asp-action="Lots">Lots</a></li>
    <li><a asp-controller="Admin" asp-action="Categories">Categories</a></li>
    <li><a asp-controller="Admin" asp-action="Roles">Roles</a></li>

</ul>
