@model AuctionZ.Models.Utils.ResultListViewModel<LotViewModel>
@{
    ViewBag.Title = "Auction";
    string NoResults = ViewBag.NoLots;
}

<h3>No result</h3>

@foreach (var lot in Model.Items)
{
    <div class="col-md-12" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/no_image.jpg" style="max-width:100%;" alt="@lot.Name" height="125">
            </div>
            <div class="caption col-md-4">
                <partial name="_lot" model="lot" />
            </div>

        </div>
    </div>
}
@if (string.IsNullOrEmpty(NoResults))
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        </div>
    </div>
}
else
{
    <h3>@NoResults</h3>
}

<div>
    <a class="btn-success" asp-action="CreateLot">Test</a>
</div>
